
Screen {
    align: center top;
}

ScrollableContainer {
    content-align: center middle;
}

Static {
    content-align: center middle;
}

.tab-content {
    background: $success;
}

OptionList {
    width: 20;
    height: auto;
    margin: 2 2;
}

Button {
    width: 10;
}

.buttonbar {
    align: center middle;
    width: 14;
}

.active {
    background: $success;
    color: $text;
}
